/* タブレット向けレイアウト　*/
@media (max-width: 1668px) {
  .logo {
    height: 45px;
    margin-top: 10px;
  }

  .header-right a {
    font-size: 14px;
  }

  .topimage {
    text-align: center;
    padding: 80px 0 65px 0;
  }

  .topimage-txt {
    margin-bottom: 5%;
  }

  .download {
    padding: 15px 45px;
    width: 50%;
  }

  .content-txt h2 {
    font-size: 35px;
    margin: 0 0;
  }

  .content-txt p {
    font-size: 14px;
  }
}

/* スマホ向けレイアウト */
@media (max-width: 1242px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .topimage {
    text-align: left;
    padding: 50px 0px 50px 0px;
    margin: 56px 0px 50px 0px;
  }

  h1 {
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 10%;
  }

  .topimage-txt p {
    font-size: 14px;
  }

  .download {
    text-align: center;
    width: 80%;
  }

  .content-txt h2 {
    font-size: 22px;
    padding: 0;
  }

  .content-txt p {
    font-size: 13px;
    padding: 0;
  }

  .vacant {
    width: 47%;
    margin-left: 3%;
  }

  .wifi {
    width: 47%;
    margin-right: 3%;
  }

  .covid {
    width: 47%;
    margin-left: 3%;
  }
}
